* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

a{
  text-decoration: none;
}

.sideNavbar {
  width: 17%;
  height: 100vh;
  background-color: #1e1e1e;
  position: fixed;
  left: 0;
}

.sideNavImage {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.sideDropDown {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  cursor: pointer;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  width: 83%;
  height: 80px;
  background-color: #1e1e1e;
  border-left: 2px solid #747474;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
}

.navProfile {
  display: flex;
  align-items: center;
  color: white;
  gap: 15px;
}

.notification-icon {
  position: relative;
  display: inline-block;
}

.notification-count {
  position: absolute;
  bottom: -15px;
  right: -15px;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 12px;
}

.navmenu {
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
  top: 80px;
  width: 83%;
  height: 50px;
  border-bottom: 2px solid #dddfe1;
  padding-left: 20px;
}

.menu {
  margin-left: 15px;
  margin-right: 15px;
  color: #94958f;
}

.mainSection {
  position: fixed;
  bottom: 0;
  right: 0;
  height: calc(100vh - 130px);
  width: 83%;
  background-color: #f1f5f9;
  padding: 30px;
  overflow-y: auto; 
}

.mainContents {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: auto;
  margin-bottom: 30px;
}

.mainNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.button {
  display: flex;
  align-items: center;
  height: 40px;
  border: 2px solid #dddfe1;
  border-radius: 4px;
  padding: 5px;
  color: #94958f;
  cursor: pointer;
}

table {
  width: 100%;

}

tr {
  border-bottom: 2px solid #ddd;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.pageDetails {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  gap: 20px;
}